 setuptools
 matplotlib
 sympy==1.1.1
 scipy
 pandas
 nose
 sphinx
 breathe
 cython
 autopep8
 flake8
 pylint
 flufl.lock
 ply
 pytest
 six
 PyQt5
 spyder
 urllib3
 requests
 pylint
 progressbar2
 PyDrive
 ipython
 jupyter
 jupyter_latex_envs
 jupyter_contrib_nbextensions
 ipywidgets 
 PyQtWebEngine
 nbconvert
 spyder-kernels